<div class="banner">
    <div class="info">
        <h1>Bienvenidos a Lynn</h1>
        <p>Tienda Virtual, ventas por mayor y menor</p>
        <a href="#">Ver Productos</a>
    </div>
</div>

<div class="productos">
    <h1>productos</h1>
    <label for="searchBox"></label>
    <input type="text" name="searchBox" [(ngModel)]="searchData" (keyup)="getFileteredPruducts()" id="searchBox">
    <div class="cards-container">
        <app-cards [list]="data" *ngIf="searchData==''" class="max"></app-cards>
        <app-cards [list]="filteredData" *ngIf="searchData!=''" class="max"></app-cards>
    </div>
    <span class="loader" *ngIf="loader"></span>
</div>
